USE [master]
GO
/****** Object:  Database [dbRealEstate]    Script Date: 10.01.2022 00:37:19 ******/
CREATE DATABASE [dbRealEstate]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbRealEstate', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.FURKAN\MSSQL\DATA\dbRealEstate.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbRealEstate_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.FURKAN\MSSQL\DATA\dbRealEstate_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbRealEstate].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbRealEstate]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10.01.2022 00:37:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 10.01.2022 00:37:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[admin_username] [nvarchar](max) NULL,
	[admin_password] [nvarchar](max) NULL,
	[admin_name_surname] [nvarchar](max) NULL,
	[admin_mail] [nvarchar](max) NULL,
	[role] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Adverts]    Script Date: 10.01.2022 00:37:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adverts](
	[advert_id] [int] IDENTITY(1,1) NOT NULL,
	[number_of_rooms] [nvarchar](max) NULL,
	[residance_age] [nvarchar](max) NULL,
	[square_meters] [nvarchar](max) NULL,
	[category] [nvarchar](max) NULL,
	[price] [nvarchar](max) NULL,
	[agent_id] [int] NULL,
	[advert_name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Adverts] PRIMARY KEY CLUSTERED 
(
	[advert_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Agents]    Script Date: 10.01.2022 00:37:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agents](
	[agent_id] [int] IDENTITY(1,1) NOT NULL,
	[agent_username] [nvarchar](max) NULL,
	[agent_password] [nvarchar](max) NULL,
	[agent_company_name] [nvarchar](max) NULL,
	[agent_company_mail] [nvarchar](max) NULL,
	[agent_company_address] [nvarchar](max) NULL,
	[agent_company_phone] [nvarchar](max) NULL,
	[agent_name_surname] [nvarchar](max) NULL,
	[role] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Agents] PRIMARY KEY CLUSTERED 
(
	[agent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_agent_id]    Script Date: 10.01.2022 00:37:20 ******/
CREATE NONCLUSTERED INDEX [IX_agent_id] ON [dbo].[Adverts]
(
	[agent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Adverts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Adverts_dbo.Agents_Agent_agent_id] FOREIGN KEY([agent_id])
REFERENCES [dbo].[Agents] ([agent_id])
GO
ALTER TABLE [dbo].[Adverts] CHECK CONSTRAINT [FK_dbo.Adverts_dbo.Agents_Agent_agent_id]
GO
USE [master]
GO
