@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAgent.cshtml";
}

<img src="https://www.haksozhaber.net/d/news/137693.jpg" width="50%" />

<h1>Hoşgeldin @Session["agent_name_Surname"]</h1>
<br />
<h4>Yeni ilanların için sabırsızlanıyoruz.</h4>
<h4>Aradığın her şeyi sol menüden bulabilirsin.</h4>
<h4>Desteğe ihtiyacın olursa helpagent@emlakofisi.com adresinden bize ulaş.</h4>