<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/other/style.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontrol Paneli</title>
</head>

<body>

    <div class="wrapper">
        <div class="section">
            <div class="top_navbar">
                <div class="hamburger">
                    <a href="#">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
            </div>
            <div class="content">
                @RenderBody()
            </div>
        </div>
        <div class="sidebar">
            <div class="profile">
                <img src="https://cdn-icons-png.flaticon.com/512/1177/1177568.png"
                     alt="profile_picture">
                <h3>@Session["admin_name_surname"]</h3>
                <p>Admin</p>
            </div>
            <ul>
                <li>
                    <a href="/Admin/Index">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">Anasayfa</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdvertList">
                        <span class="icon"><i class="fas fa-sign"></i></span>
                        <span class="item">İlanlar</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AgentList">
                        <span class="icon"><i class="fas fa-user-friends"></i></span>
                        <span class="item">Emlakçılar</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AddAgent">
                        <span class="icon"><i class="fas fa-user-plus"></i></i></span>
                        <span class="item">Yeni Emlakçı Ekle</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminList">
                        <span class="icon"><i class="fas fa-user-shield"></i></span>
                        <span class="item">Adminler</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AddAdmin">
                        <span class="icon"><i class="fas fa-user-plus"></i></span>
                        <span class="item">Yeni Admin Ekle</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Profile/@Session["admin_id"]">
                        <span class="icon"><i class="fas fa-id-badge"></i></span>
                        <span class="item">Profilim</span>
                    </a>
                </li>
                <li>
                    <a href="/Login/Logout">
                        <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                        <span class="item">Çıkış Yap</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <script>
        var hamburger = document.querySelector(".hamburger");
        hamburger.addEventListener("click", function () {
            document.querySelector("body").classList.toggle("active");
        })
    </script>
</body>

</html>