@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Site İstatistikleri</h1>

<table class="table table-bordered">
    <tr>
        <th>Toplam Admin Sayısı</th>
        <th>Toplam Emlakçı Sayısı</th>
        <th>Toplam İlan Sayısı</th>
    </tr>
    <tr>
        <td>@ViewBag.AdminCount</td>
        <td>@ViewBag.AgentCount</td>
        <td>@ViewBag.AdvertCount</td>
    </tr>
</table>