@{
    ViewBag.Title = "Hakkımızda";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="container">
    <img src="https://cdn-icons.flaticon.com/png/512/942/premium/942089.png?token=exp=1641756806~hmac=a1beb96c89fb6fc55168f1be530f23c4" width="10%" />
    <br /> <br />
    <p>• Emlak Ofisi olarak emlakçı ve müşterileri bir araya getiyoruz.</p>
    <p>• Müşteri isen ilanlar menüsünden ilanları incele.</p>
    <p>• Emlakçıyım diyorsan bizimle iletişime geç ve ilanlarını yayınlamaya başla.</p>
</div>