@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="container">
    <img src="https://cdn-icons-png.flaticon.com/512/2343/2343723.png" width="10%" />
    <br /> <br />
    <address>
        Emlak Ofisi<br />
        Sultangazi / İstanbul<br />
        <abbr title="Phone">P:</abbr>
        05555555555
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:support@emlakofisi.com">support@emlakofisi.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:marketing@emlakofisi.com">marketing@emlakofisi.com</a>
    </address>
</div>