@{
    ViewBag.Title = "Ana Sayfa";
}

<br />
<div class="jumbotron">
    <h1>Emlak Ofisi</h1>
    <p class="lead">YENİLENDİK! İLANLARIMIZ YAYINDA HEMEN GÖZAT!</p>
    <p><a href="/Home/AdvertList" class="btn btn-primary btn-lg">İLANLAR &raquo;</a></p>
</div>

<h3>Hizmetler</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consequat placerat tempor. Mauris dignissim purus nunc, ut ultricies velit rutrum vitae. Donec facilisis accumsan augue, sit amet vehicula nulla ultrices et. Sed tristique turpis sit amet enim tempor bibendum vel in libero. Maecenas sed mauris non tortor porta lacinia. Nulla risus leo, varius molestie accumsan nec, placerat et urna. Maecenas ut orci accumsan risus congue suscipit sagittis ac est.</p>
<p>Pellentesque tempus purus ac odio viverra mattis. Nulla vitae fermentum velit. Etiam eget fermentum erat, non dictum magna. Aliquam consectetur in eros sed tempus. Vestibulum egestas libero eget bibendum viverra. Phasellus semper rutrum sem sed mattis. Ut orci ex, pretium at elit vel, tincidunt aliquam nibh.</p>
<h3>Güvenirlik</h3>
<p>Etiam est eros, porta et ultrices iaculis, rhoncus quis lacus. Cras eu suscipit mauris. Nulla in vestibulum augue, vitae ultrices erat. Ut vel magna in neque blandit aliquet et viverra elit. Nullam eu rutrum lorem. Sed pretium tincidunt justo. Proin posuere metus dolor. Sed efficitur ante non tristique vestibulum. Quisque nec fringilla lorem. Aliquam a neque lacinia, rhoncus mi vel, lacinia neque.</p>
<h3>Anahtar Teslim</h3>
<p>In interdum metus placerat tristique facilisis. Suspendisse potenti. Nullam hendrerit imperdiet risus, malesuada dapibus massa varius eget. Sed dignissim eros a ex dictum, egestas venenatis enim dapibus. Donec tempus nisl id lectus sodales sollicitudin. Ut sed est non enim suscipit aliquam. Cras non pretium nisi. Fusce consequat, neque imperdiet scelerisque facilisis, nibh nisi tristique metus, quis ultricies orci tellus eu enim. Aliquam quis dui id magna iaculis laoreet id nec urna. Proin a accumsan tellus.</p>
<h3>Satılık & Kiralık</h3>
<p>Donec interdum dictum mi in sagittis. Pellentesque eget porta ex, sed consequat tortor. Nam id pharetra lectus. Ut nulla purus, dictum sed feugiat et, dapibus iaculis nisi. Quisque posuere maximus est, sit amet ornare nisi egestas eget. Vivamus auctor, nibh tristique placerat elementum, nulla ligula aliquet justo, in tincidunt enim lacus posuere dui. Nunc quis tristique turpis. Nunc imperdiet mollis metus vitae sollicitudin. Praesent venenatis, ligula in consectetur interdum, arcu lorem mollis libero, sit amet interdum orci sapien ut urna. Sed justo risus, bibendum eget iaculis id, facilisis tincidunt ex. Pellentesque semper lacus quis velit condimentum, eu scelerisque sem efficitur. Nunc tempor risus et quam tempor, eu euismod sem cursus. Morbi ut elementum dolor, eget hendrerit justo. Nulla quam dui, vehicula sit amet faucibus id, iaculis at ante. Cras id leo vitae ligula malesuada porta eu sit amet sapien.</p>